<!DOCTYPE web-app 
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" 
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

    <display-name>EchoXUL</display-name>
    <description>
        EchoXUL Application
    </description>

    <servlet>
      <servlet-name>XulServlet</servlet-name>
      <servlet-class>net.mendler.echoxul.XulServlet</servlet-class>      
      <init-param>
        <param-name>xul</param-name>
        <param-value>test.xul</param-value>	  
      </init-param>      
      <init-param>
        <param-name>style</param-name>
        <param-value>test.style</param-value>	  
      </init-param>
      <init-param>
        <param-name>language</param-name>
        <param-value>javascript</param-value>	  
      </init-param>
    </servlet>

    <servlet-mapping>
      <servlet-name>XulServlet</servlet-name>
      <url-pattern>/*</url-pattern>
    </servlet-mapping>

</web-app>
